body{
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.carrossel{
    position: relative;
    width: 50%;
    height: 90vh;
    background-image: url('../assets/images/login-background.jpg');
    background-size: cover;
    padding: 24px;
    border-radius: 16px;
    margin: 35px;
}
.form{
    width: 50%;
    display: grid;
    align-items: center;
    justify-content: center;
}